// Hide content on load
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
@import "../lib/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  background-color: #393939;
}
