<!DOCTYPE html>
<html lang="cs" data-ng-app="main">
  <head data-ng-controller="MetaController">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="app.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20150503/json2.min.js"></script>
    <![endif]-->
  </head>
  <body data-ng-cloak>
    <!-- Main Content -->
    <div data-ui-view></div>
    <!-- /Main Content -->

    <!-- build:js libs.min.js -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- endbuild -->
    <script src="app.min.js"></script>
  </body>
</html>
